@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body{
	background-color: #FADB72;
}
* {
	margin: 0px;
	padding: 0px;
}

section {
	display: flex;
	justify-content: center;
}

section.topo {
	width: 90vw;
	height: 10vh;
	background-color:#F0D135;
	margin-left: 5vw;
	border-radius: 22px;
	box-shadow: 5px 10px  #888888
}

#imagem {
	display: flex;
	width: 7%;
	height: 100%;
}

#imagem img {
	width: 100%;
	height: 100%;
}

a {
	font-family: 'Barlow Condensed', sans-serif;
}

#sobre p {
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	font-size: 2vh;
	text-align: center;
}

#credito p {
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	font-size: 2vh;
	text-align: center;
}

#menu {
	width: 90%;
	height: 100%;
	margin-left: auto;
}

ul.nav {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
}

ul.nav li {
	text-align: center;
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	width: 15vh;
	border: 1px solid white;
	margin-left: 5%;
	float: left;
	font-size: 2vh;
}

ul.nav li ol {
	list-style-type: none;
	width: 100%;
	height: 100%;
	float: none;
	display: none;
}

ul.nav li:hover {
	background-color: rgb(255, 255, 255, 0.2);
}

ul.nav li:hover ol {
	display: inline-block;
	cursor: pointer;
}

ul.nav li ol li {
	float: none;
	border: 0px;
	width: 100%;
	height: 100%;
	margin-left: 0%;
	border-top: 1px solid white;
}

ul.nav li ol li a {
	text-decoration: none;
	color: white;
	display: block;
}

section.conteudo {
	width: 100vw;
	height: 80vh;
}

iframe.janela {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}
section.rodape {
	width: 100vw;
	height: 10vh;
	background-color: #F0D135;
}

#sobre {
	width: 50%;
	height: 100%;
}

#credito {
	width: 50%;
	height: 10vh;
	border-left: 1px solid white;
}

section.produtos {
	width: 100vw;
	height: auto;
}

div.produto {
	width: 20%;
	margin-left: 5%;
	height: 50vh;
/*	border: 1px solid black;*/
	border-radius: 10px;
}

div.produto h2 {
	background-color: black;
	color: white;
}

div.produto img {
	width: 100%;
	height: 100%;
}